.search-button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 18px 0;
}

.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
